<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="ion-text-center">Nombre de usuario</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="ion-text-center">Correo electrónico</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating" class="ion-text-center">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="full" (click)="registrar()" color="primary">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
